<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

  <style>
    @import url("//unpkg.com/element-ui@2.0.5/lib/theme-chalk/index.css");
    h1 {
      text-align: left;
      margin: 5px;
      display: block;
    }
    h5 {
      text-align: left;
      margin: 5px;
      display: block;
    }
    .el-header, .el-footer {
      /*background-color: #B3C0D1;*/
      color: #333;
      text-align: center;
      line-height: 60px;
    }

    .el-aside {
      /*background-color: #D3DCE6;*/
      color: #333;
      text-align: center;
      line-height: 200px;
    }

    .el-main {
      background-color: #E9EEF3;
      color: #333;
      text-align: center;
      /*line-height: 160px;*/
    }
    body > .el-container {
      /*margin-bottom: 40px;*/
    }

    .el-container:nth-child(5) .el-aside,
    .el-container:nth-child(6) .el-aside {
      line-height: 260px;
    }

    .el-container:nth-child(7) .el-aside {
      line-height: 320px;
    }
  </style>

</head>
<body>
  <div id="app">
  <el-container style="height: 100vh;">
    <el-header>

      <el-row>
        <el-col :span="6">
          <div class="grid-content bg-purple">
            <h1>TraPP (A NCATS Reasoner) Prototype</h1>
          </div>
        </el-col>
        <el-col :span="18">
          <div class="grid-content bg-purple-light">
            <el-menu :default-active="current_q" class="el-menu-demo" mode="horizontal" @select="change_q">
              <el-menu-item index="q1">Explore Q1</el-menu-item>
              <el-menu-item index="q2">Explore Q2</el-menu-item>
            </el-menu>
          </div>
        </el-col>
      </el-row>

    </el-header>

    <el-container>

      <el-aside width="400px">

        <el-menu
              default-active="0"
              class="el-menu-vertical"
              @select="render_item">
              <!-- @open="handleOpen"
              @close="handleClose"> -->

              <el-menu-item v-for="(item, index) in leftpanel_list" v-bind:index="index.toString()">
                <span>{{item}}</span>
              </el-menu-item>
            </el-menu>

      </el-aside>


      <el-main>

        <el-row  :gutter="150">
          <el-col :span="10">
            <h5>Filter by paths:</h5>
        <div style="text-align: left">
          <el-radio-group v-model="table1_selector" v-on:change="render_middle_table">
            <el-radio-button label="By Node Name" name="node_name"></el-radio-button>
            <el-radio-button label="By Node Type" name="node_type"></el-radio-button>
            <el-radio-button label="By Edge Type" name="edge_type"></el-radio-button>
          </el-radio-group>
        </div>

        <div>
          <template>
            <el-table
              :data="table1_data"
              border
              style="width: 100%">
              <el-table-column
                prop="value"
                label="Name"
                width="220">
              </el-table-column>
              <el-table-column
                prop="count"
                label="Count"
                width="100">
              </el-table-column>
              <el-table-column
                prop=""
                label="">Filter it
              </el-table-column>
            </el-table>
          </template>
          </div>
        </el-col>

        <el-col :span="10">
          <div v-if="current_q=='q1'">
          <h5>Filter by end nodes:</h5>
          <div style="text-align: left">
            <el-radio-group v-model="table2_selector" v-on:change="render_end_table">
              <el-radio-button label="By Node Name"></el-radio-button>
              <el-radio-button label="By Node Type"></el-radio-button>
            </el-radio-group>
          </div>
          <div>
            <template>
              <el-table
                :data="table2_data"
                border
                style="width: 100%">
                <el-table-column
                  prop="value"
                  label="Name"
                  width="220">
                </el-table-column>
                <el-table-column
                  prop="count"
                  label="Count"
                  width="100">
                </el-table-column>
                <el-table-column
                  prop=""
                  label="">Filter it
                </el-table-column>
              </el-table>
            </template>
            </div>
          </div>
        </el-col>

        </el-row>




      </el-main>
    </el-container>
  </el-container>
  </div>
</body>
  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="./data.js"></script>
  <script src="./q1_results.js"></script>
  <script src="./q2_results.js"></script>

  <script>
    vue_app = new Vue({
      el: '#app',
      data: {
        leftpanel_list: [],
        current_q: "q1",
        current_item: "",
        current_table: "middle",  //middle or end
        table1_selector: "By Node Name",
        table1_data: [],
        table2_selector: "By Node Name",
        table2_data: []
      // function() {
      //   return { visible: false }
      },
      methods: {
        change_q: function(key, keyPath) {
          console.log(key, keyPath);
          this.current_q = key;
          if (this.current_q == 'q1'){
              this.leftpanel_list = q1_list;
              console.log("switch to q1");
              //this.render_middle_table();
              //this.render_end_table();
          }else {
              this.leftpanel_list = q2_list.filter(function(current_item){
                var key = q2_list.indexOf(current_item) + '_' +
                  current_item.replace(' - ', '_').replace(/\s/g, '') + '_path3.txt.gz';
                return q2res[key] != undefined;
              });
              console.log("left_list:", this.leftpanel_list.length);
              console.log("switch to q2");
              //this.render_middle_table();
          }
        },
        render_item: function(item_idx){
          //called when an item from side panel is clicked
          this.current_item = this.leftpanel_list[item_idx];
          this.render_middle_table();
          if (this.current_q == 'q1'){
            this.render_end_table();
          }
        },
        render_table: function(){
          var res = this.current_q=='q1'?q1res:q2res;
          var table_selector = (this.current_q=='q1' && this.current_table=="end")?this.table2_selector:this.table1_selector;
          //var key = "q1_0_Osteoporosis_path3b.txt.gz";
          var key = this.computed_key;
          var datatype = this.computed_datatype;
          var table_data;
          console.log(key, datatype, table_selector);
          if (table_selector == 'By Node Name'){
            table_data = res[key][datatype]['name'];
          }else if (table_selector == 'By Node Type'){
            table_data = res[key][datatype]['type'];
          }else if (table_selector == 'By Edge Type'){
            table_data = res[key][datatype];
          }
          if (this.current_table == "middle"){
            this.table1_data = table_data.slice(0,100);
          }else {
            this.table2_data = table_data.slice(0,100);
          }
        },
        render_middle_table: function(){
            this.current_table = "middle";
            this.render_table();
        },
        render_end_table: function(){
            this.current_table = "end";
            this.render_table();
        }
      },
      created: function(){
        this.leftpanel_list = q1_list;
        this.current_item = this.leftpanel_list[0];
        this.render_middle_table();
        this.render_end_table();
      },
      computed: {
        computed_key: function(){
          // the key under q1res and q2res
          var key;
          if (this.current_q == "q1" && q1_list){
            key = 'q1_' + q1_list.indexOf(this.current_item) + '_' +
                  this.current_item.replace(/\s/g, '') + '_path3b.txt.gz';
          }
          else if (this.current_q == "q2" && q2_list){
            key = q2_list.indexOf(this.current_item) + '_' +
                  this.current_item.replace(' - ', '_').replace(/\s/g, '') + '_path3.txt.gz';
          }
          console.log('key:', key);
          return key;
        },
        computed_datatype: function(){
          // middle_notes, end_notes, edge_types
          // key under q?res[computed_key]
          var data_type;
          if (this.current_table=='middle'){
            if (this.table1_selector == "By Edge Type"){
              data_type = 'edge_types';
            }else{
              data_type = 'middle_nodes';
            }
          }else{
            // this.current_table=='end'
            data_type = 'end_nodes';
          }
          console.log('data_type:', data_type);
          return data_type;
        }

      }

    })
  </script>
</html>
